# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data scientists use are :

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists includes:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|StudioR|
|Apache Zeppelin|

### This is an example of evaluating arithmetic expression in Python

In [18]:
#This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [20]:
# An expression that converts 200 minutes into hours 
200/60

3.3333333333333335

# ***Objectives:***
- List popular languages for Data Science
- Create a Jupyter notebook 
- Create a markdown cell
- Share jupyter netbook through GitHub

## Author 
Madina Benhamouda